.flexContainer {
	height: 100%;
	display: flex;
	overflow: hidden;
}

.controlContainer {
	display: flex;
	flex-direction: column;
}

.buttonContainer {

}

.consoleContainer {
	overflow: scroll;
}

.mapContainer{
	flex-basis: 50%;
}